# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sk rifat\parts page\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
